@page
@model app.razor.WebApp.Pages.EventPlan.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Event Details</h1>

<hr />

<ul class="list-group">
    <li class="list-group-item">
        @Html.DisplayFor(model => model.CurrentEventPlan.Title)
    </li>
    <li class="list-group-item">
        @Html.DisplayFor(model => model.CurrentEventPlan.Description)
    </li>
    <li class="list-group-item">
        @Html.DisplayFor(model => model.CurrentEventPlan.EventType.DisplayName)
    </li>
    <li class="list-group-item">A fourth item</li>
</ul>

@*Start of Event Item Grid*@

<hr />
<h2 class="mt-4">Event Item</h2>
<p>
  <a class="btn btn-primary btn-sm" asp-page="/EventItem/Create" asp-route-id="@Model.CurrentEventPlan.ID">+New Event Item</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Start Time
            </th>
            <th>
                location
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventPlanItemList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressLine1)
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@*Start of Event Invite Grid*@

<hr />
<h2 class="mt-4">Invite </h2>
<p>
    <a class="btn btn-primary btn-sm" asp-page="/Invite/Create" asp-route-id="@Model.CurrentEventPlan.ID">+ New Invite</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Event
            </th>
            <th>
                Name
            </th>
            <th>
                Head Count
            </th>
            <th>
                RSVP
            </th>
            <th>
                Relationship
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.InviteSummaryList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Household)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeadCountEstimate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HeadCountRSVP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelationshipDisplayName)
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>






